<footer class="pt-5 footer-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h5>TA Global</h5>
        <p class="small">
          An innovator firmly focused in defying the usual mould of the property industry, 
          TA Global works fearlessly in crafting distinctive living experiences for all.
        </p>
        <p class="small text-muted">
          © 2024 TA Global. All Rights Reserved.
        </p>

        <div class="social-icons mt-3">
          <a href="https://www.linkedin.com/company/ta-global-bhd/" target="_blank" class="social-icon">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://www.google.com/maps/place/Menara+TA+One/@3.1565359,101.7071886,17z/data=!3m1!4b1!4m6!3m5!1s0x31cc37d662cfffff:0x2af01dda5b0eccf8!8m2!3d3.1565305!4d101.7097635!16s%2Fg%2F1pztlb71g?coh=219816&entry=tts&g_ep=EgoyMDI0MDgxOS4wKgBIAVAD" target="_blank" class="social-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </a>
          <a href="https://www.facebook.com/taglobalbhd" target="_blank" class="social-icon">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="https://www.instagram.com/taglobalbhd/" target="_blank" class="social-icon">
            <i class="bi bi-instagram"></i>
          </a>
        </div>
        </div>
      
      <div class="col-md-3 mb-3">
        <b>CloutHaus Sales Gallery</b> <br>
        <span class="small">
          {{ address1 }}<br>
          {{ address2 }}<br>
          {{ address3 }}
        </span>
      </div>
      
      <div class="col-md-3">
        <b>Phone:</b>
        <a class="d-block small" [href]="'tel:' + phone">{{ phone }}</a>
        <br>
        <b>Email:</b>
        <a class="d-block small" [href]="'mailto:' + email">{{ email }}</a>
      </div>
    </div>
  </div>
</footer>