<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" (click)="onNavLinkClick('hero', $event)">{{ projectName }}</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavLinkClick('hero', $event)">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavLinkClick('section-0', $event)">Concept</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavLinkClick('section-5', $event)">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="onNavLinkClick('register', $event)">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>