<ng-container *ngIf="data$ | async as data">

  <app-header 
    [projectName]="data.projectName"
    (navClicked)="onHeaderNavigation($event)">
  </app-header>

  <div class="scroll-container">
    <section id="hero" class="scroll-section">
      <app-hero [videoUrl]="data.logo"></app-hero>
    </section>

    <section *ngFor="let detail of data.projectDetails; let i = index" 
             [id]="'section-' + i" 
             class="scroll-section">
      <app-content-section 
        [detail]="detail" 
        [isReversed]="i % 2 !== 0">
      </app-content-section>
    </section>

    <section id="register" class="scroll-section">
      <app-contact-form></app-contact-form>
      <app-footer
        [email]="data.email"
        [phone]="data.countryCode + data.phoneNo"
        [address1]="data.address1"
        [address2]="data.address2"
        [address3]="data.address3"
      >
      </app-footer>
    </section>
  </div>
</ng-container>

<router-outlet></router-outlet>