/* This is our new scroll container */
.scroll-container {
  /* The container must be 100% of the viewport height... */
  height: 100vh;

  /* ...and it must be the element that scrolls */
  overflow-y: scroll;
}

#section-0 {
  background-color: #ffffff; 
}

#section-1 {
  background-color: #e8e4dc; 
}
#section-3 {
  background-color: #e8e4dc; 
}

#section-5 {
  background-color: #e8e4dc; 
}