@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Oswald:wght@200..700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

body {
  background-color: #000;
  margin: 0;
  overflow: hidden; /* Keep this to prevent body scrolling */
}

/* Adjust global typography */
h1,
.h1,
.display-5 {
  font-family: 'Overlock', sans-serif;
  font-weight: 300;
  letter-spacing: 4px;
}

p {
  font-family: "Montserrat", serif;
  line-height: 1.6;
}

.anim-image,
.anim-text {
  /* Start invisible */
  visibility: hidden;
  opacity: 0;
}